.searchbox {
    /* height: 40px; */
    overflow: hidden;
    border: 2px solid #717171;
    background: #fff;
    padding-right: 0px;
}

.searchbox input {
    width: 80%;
    height: 20px;
    margin-top: 10px;
    border: 0;
    /* border-left: 1px solid #cecece; */
    text-indent: 10px;
}

.search_btn {
    background: #717171;
    cursor: pointer;
    border: 0px;
    padding: 0;
}

.list-group {
    clear: both;
    padding-top: 10px;
}