{% extends 'base.html' %}

{% comment %} {% block body %}
<h2 class="text-center">カテゴリ一覧</h2>
{% endblock %} {% endcomment %}


{% block content %}
<form class="form-inline">
    <div class="input-group">
        <span class="input-group-addon">@</span>
        <input list="dl" type="text" class="form-control" placeholder="Search" />
        <datalist id="dl">
            <option value="IE"></option>
            <option value="Firefox"></option>
            <option value="chrome"></option>
            <option value="safari"></option>
        </datalist>
    </div>
    <button class="btn btn-success" type="submit">search</button>
</form>

<div class="list-group">
    {% for offerCategory in offerCategories %}
    <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        {{offerCategory.name}}
        <span class="badge badge-primary badge-pill">{{offerCategory.count}}</span>
    </a>
    {% endfor%}
</div>
{% endblock %}