{% extends 'base.html' %}
{% load staticfiles %}

<title>{% block title %}ホーム{% endblock %}</title>

{% block content %}
<div class="list-group">
    {% for offerCategory in offerCategories %}
    <a href="{% url 'offerList' offerCategory.id %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        {{offerCategory.name}}
        <span class="badge badge-primary badge-pill">{{offerCategory.count}}</span>
    </a>
    {% endfor%}
</div>
{% endblock %}