{% extends 'base_users.html' %}

{% block title %}Log in to TFG TOKYO{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card">
            <div class="card-body">
                {% comment %} <h3 class="card-title">ログイン</h3> {% endcomment %}
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% include 'includes/form.html' %}
                    <button type="submit" class="btn btn-primary btn-block">ログイン</button>
                </form>
            </div>
        </div>
        <div class="text-center py-2">
            <small>
                <a href="{% url 'signup' %}" class="text-muted">新規取得</a>
                &nbsp&nbsp&nbsp
                <a href="{% url 'password_reset' %}" class="text-muted">パスワードを忘れた方</a>
                &nbsp&nbsp&nbsp
                <a href="javascript:history.go(-1)" class="text-muted">戻る</a>
            </small>
        </div>
    </div>
</div>
{% endblock %}