{% extends 'base.html' %}
{% load staticfiles %}

<title>{% block title %}案件一覧{% endblock %}</title>

{% block content %}
<div class="list-group">
    {% for offer in offerList%}
    <a href="{% url 'offerDetail' offer.id %}" class="list-group-item list-group-item-action">
        <h2 class="font-weight-bold">{{offer.title}}</h2>
        <p>公開日:{{offer.pub_time}}</p>
        <p>{{offer.click_nums}}</p>
        <p>{{offer.fav_nums}}</p>
        <p>{{offer.apply_nums}}</p>
    </a>
    {% endfor%}
    {% endblock %}
</div>

</html>